body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #3498db, #8e44ad);
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(100% - 20px); 
}

button {
    background: linear-gradient(to right, #349fe6, #8e44ad);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    margin-top: 30px;
    width: calc(100% - 50px); 
}

button:hover {
    background: linear-gradient(to right, #8e44ad, #3498db);
}
